body {
	font-family: Arial;
    margin: 0;
    box-sizing: border-box;
    
}

.topo {
	color: black;
	text-align: center;
	background: rgb(220,220,220);
	padding: 80px;
	margin-top: -35px;
}


.box {
          
            padding: 60px;
            margin: auto;
            width: 183px;           
            font-size:24px;
    
    }

.bx{
    background: rgb(220,220,220);
    -webkit-box-shadow: none;
    box-shadow: none;

}

.cdtr{

    width: 182px;
    margin: center;
        

}

input{
        
    font-weight: 300;
}

  
.rodape {
    padding: 8px;
    text-align: center;
    background: rgb(242, 242, 242);
}

  