

.topo{
    margin-top: 70px;
}

.cabe{
    color: black;
    font-size: 15px;
  
}

.form-cp{
    font-family: Montserrat;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    
}


.botao input{
    font-family: 'Montserrat';
    background-color: green;
    color: white;
    display: flex;
    float: right;
    padding: 5px 10px;
    font-size: 15px;
}